{
  "plugins": [
    "@babel/syntax-typescript",
    [
      "@babel/syntax-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/syntax-jsx",
    "react-hot-loader/babel",
    [
      "@babel/transform-runtime",
      {
        "regenerator": false,
        "useESModules": true,
        "corejs": 3,
        "loose": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
