{
  "plugins": [
    "@babel/syntax-typescript",
    [
      "@babel/syntax-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/syntax-jsx",
    "react-hot-loader/babel",
    [
      "@babel/transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
    "@babel/preset-react"
  ]
}
